<h1> <%= @hostel.name %> </h1>
<p> <%= @hostel.name %> is in <%= @hostel.city %>, <%= @hostel.country%>. We have given it a rating of <%= @hostel.rating%> out of 10. </p>
<%= image_tag(@hostel.image, alt:'No image', width: 200)  %>